@font-face {
    font-family: 'modeng';
    src: url("modeng.ttf");
}

@font-face {
    font-family: '宅在家自动笔';
    src: url("宅在家自动笔.ttf");
}

@font-face {
    font-family: '江城圆体';
    src: url("江城圆体.ttf");
}

